{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Réfick Tattoo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Réfick TATTOO</h1>
								<p>
									A vida reserva surpresas maravilhosas para todos aqueles que cultivam 
									a gratidão!!!
								</p>
							</div>
						</div>
						<nav>
							<ul>
								<!--<li><a href="#intro">Introdução</a></li>-->
								<li><a href="#work">Work</a></li>
								<!--<li><a href="#about">Sobre</a></li>-->
								<li><a href="#contact">Contato</a></li>
								<li><a href="#payment">Pagamento</a></li>
							</ul>
						</nav>
					</header>
				<!-- Main -->
					<div id="main">
						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Porque ter<br>um site?</h2>
								<span class="image main"><img src="{% static 'images/site.png' %}" alt="" /></span>				
								<p>Em um meio onde os canais digitais são altamente consumidos pelas pessoas
									, ter um site específico
									 para oferecer os seus produtos faz com que um consumidor em potencial
									  encontre os canais para
									  contato e, além disso, atualmente existem diversas outras lojas com 
									  produtos e serviços parecidos 
									  aos seus, então ter uma plataforma sua para publicar posts e fazer 
									  a sua propaganda com os diferenciais
									   dos seus modelos oferecidos é ótimo para chamar a atenção do cliente 
									   e ainda possibilita que ele
									    encontre uma forma de tirar dúvidas com um canal de contato referente
										 ao seu catálogo.
								</p>
								<h2 class="major">Qual a importância<br>do marketing?</h2>
								<span class="image main"><img src="{% static 'images/marketing.jpg' %}" alt="" /></span>
								<p>
									Um bom investimento em Marketing Digital pode contribuir para que sua
									 empresa apareça nos resultados e seja encontrada, reduzindo muito o 
									 custo de aquisição de clientes. Não só quando alguém procura por uma 
									 solução que sua empresa oferece, mas também quando alguém procura pela
									  sua própria empresa.
								</p>
							</article>
						<!-- Work -->
							<article id="work">
								<h2 class="major">Conheça um pouco<br>do meu trabalho!</h2>
								<span class="image main"><img src="{% static 'images/jhonatan.jpg' %}" alt="" /></span>
								<p>
									Artista há 7 anos, especialista em realismo tattoo, sou muito grato
									pela minha profissão, escolhi o realismo pois através do meu trabalho consigo
									realizar sonhos onde as pessoas querem carregar tatuadas em sua pele expressões de amor,
									saudade e muita nostalgia!!!
								</p>	
								<h2 class="major">O que é o realsimo<br>tattoo?</h2>
								<span class="image main"><img src="{% static 'images/realismo_tattoo.jpg' %}" alt="" /></span>							
								<p>
									O realismo dentro da tatuagem se baseia no movimento realista iniciado na França em 1850.
									O foco desse estilo é a representação verdadeira da imagem, sem tons de romantismo ou ajustes
									para tornar a imagem mais dramática. O contraste e sombra são muito valorizados nesse estilo.
								</p>
							</article>
						<!-- About -->
							<article id="about">
								<h2 class="major">Sobre mim...</h2>
								<span class="image main"><img src="{% static 'images/photo_about.JPG' %}" alt="" /></span>
								<p>
									Focado nos estudos e trabalho,
									programador back-end há 3 anos com conhecimento em Sqlite3, JavaScript,
									CSS, HTML,
									Framework DJANGO, Git e GitHub. Estou cursando 
									Engenharia de Software,									
									tracei como meta à programação e vi no Python e Django uma oportunidade.
								</p>
								<h2 class="major">O que é Python<br>e Django</h2>
								<span class="image main"><img src="{% static 'images/python_django.png' %}" alt="" /></span>
								<p>
									O Python é uma linguagem de programação amplamente usada em aplicações 
									da Web, desenvolvimento de software, ciência de dados e machine learning (ML).
									Os desenvolvedores usam o Python porque é eficiente e fácil de aprender e pode 
									ser executada em muitas plataformas diferentes.
									Django é um framework web Python de alto nível que permite o rápido
									desenvolvimento de sites seguros e de fácil manutenção. É um framework
									gratuito e de código aberto escrito em Python para desenvolvimento web. 
									Sua utilização permite a construção de aplicações web de alto desempenho.
									O Django é utilizado em mais de 80 mil sites e figura entre os 10
									frameworks mais utilizados na Internet.
								</p>
								<h2 class="major">Algumas empresas<br>que utilizam<br>Python e Django</h2>
								<span class="image main"><img src="{% static 'images/empresas.png' %}" alt="" /></span>
								<p>
									<ul>
										<li>Instagram</li>
										<li>Mozilla</li>
										<li>Pinterest</li>
										<li>Disqus</li>
										<li>Google</li>
										<li>Facebook</li>
										<li>Dropbox</li>
										<li>Spotify</li>
										<li>Reddit</li>
										<li>Uber</li>
										<li>Lyft</li>
									</ul>
								</p>
							</article>
						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contato</h2>								
								<ul class="icons">																		
									<li><a href="https://www.instagram.com/jonathan_reficktattoo?igsh=aThrMG5lc3J6N3Yz" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<!--<li><a href="https://github.com/weverton1987" class="icon brands fa-github"><span class="label">GitHub</span></a></li>-->
									<li><a href="https://api.whatsapp.com/send?phone=5535988353487&text=%E2%9A%9C+Or%C3%A7amento+%E2%9A%9C&fbclid
										=PAAaabPO5FM23mHhRmQa7TT70u-wFU6RrmEGL7nv7vng3AEaEWXKypT2Gip4A" class="icon brands fa-whatsapp"><span class="label">WhatsApp</span></a></li>
									<!--<li><a href="https://www.linkedin.com/in/weverton-magalh%C3%A3es-94960423a/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://www.youtube.com/@dev_innovation" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>									
									<li><a href="#" class="icon brands fa-facebook"><span class="label">Facebook</span></a></li>-->									
								</ul>
							</article>

						<!-- Elements -->
						<article id="payment">
							<!--<h2 id="title_plan">
									Não perca tempo,<br>faça seu site, e<br>suas 
									vendas vão<br>aumentar!!!
								</h2>-->									
						<!--<section>
									<center>
										<h2 id="two_hundred">A partir de R$300,00</h2>
									
										<p>
											<b>Design, funcionalidades e um layout maravilhoso,<br>
											é tudo que você precisa pra conseguir mais clientes!</b>
										</p>
									</center>																		
										<hr />
								<h2 id="two_hundred">R$ 300,00</h2>
									<center>
										<h3>
											<strong class="major">
												Nível iniciante
											</strong>
										</h3>
										<ol>
											<li>1 página</li>
											<li>Integrado ao WhatsApp</li>
											<li>Integrado com redes sociais</li>
											<li>Site responsivo</li>
											<li>Formúlario de contatos</li>
											<li>Backup automático</li>
											<li>Criação de conteúdos</li>
											<li>SSL</li>
										</ol>
									</center>
										<p class="mounth_value">**Valor mensal R$ 99,00<br></p>								
									<hr>
									<h2 id="two_hundred">R$ 650,00</h2>
									<center>
										<h3>
											<strong class="major">
												Nível profissional
											</strong>
										</h3>
										<ol>
											<li>4 página</li>
											<li>Integrado ao WhatsApp</li>
											<li>Integrado com redes sociais</li>
											<li>Site responsivo</li>
											<li>Formúlario de contatos</li>
											<li>Backup automático</li>
											<li>Criação de conteúdos</li>
											<li>Integrado com google maps</li>
											<li>Otimizado para o google</li>
											<li>Integrado com o feed do instagram</li>
											<li>SSL</li>
										</ol>
									</center>
										<p class="mounth_value">**Valor mensal R$ 99,00<br></p>																			
									<hr>
									<h2 id="two_hundred">R$ 900,00</h2>
									<center>
										<h3>
											<strong class="major">
												Nível empresárial
											</strong>
										</h3>
										<ol>
											<li>8 página</li>
											<li>Integrado ao WhatsApp</li>
											<li>Integrado com redes sociais</li>
											<li>Site responsivo</li>
											<li>Formúlario de contatos</li>
											<li>Backup automático</li>
											<li>Criação de conteúdos</li>
											<li>1 mês de hospedagem grátis</li>
											<li>Integrado com google maps</li>
											<li>Otimizado para o google</li>
											<li>Integrado com o feed do instagram</li>
											<li>Estatísticas de acesso com<br>
												o Google Analystic</li>
											<li>Inserção de tag do google</li>
											<li>Inserção do pixel do Facebook</li>
											<li>SSL</li>
										</ol>
									</center>
										<p class="mounth_value">**Valor mensal R$ 149,00<br></p>																		
							</section>

						<!--<section>
									<h3 class="major">Lists</h3>

									<h4>Unordered</h4>
									<ul>
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Alternate</h4>
									<ul class="alt">
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Ordered</h4>
									<ol>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis viverra.</li>
										<li>Felis enim feugiat.</li>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis lorem.</li>
										<li>Felis enim et feugiat.</li>
									</ol>
									<h4>Icons</h4>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
									</ul>

									<h4>Actions</h4>
									<ul class="actions">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions stacked">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
								</section>-->

							<!--<section>
									<h3 class="major">Table</h3>
									<h4>Default</h4>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>

									<h4>Alternate</h4>
									<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</section>-->

							<!--<section>
									<h3 class="major">Buttons</h3>
									<ul class="actions">
										<li><a href="#" class="button primary">Primary</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button">Default</a></li>
										<li><a href="#" class="button small">Small</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button primary icon solid fa-download">Icon</a></li>
										<li><a href="#" class="button icon solid fa-download">Icon</a></li>
									</ul>
									<ul class="actions">
										<li><span class="button primary disabled">Disabled</span></li>
										<li><span class="button disabled">Disabled</span></li>
									</ul>
								</section>-->

							<!--<section>
									<h3 class="major">Form</h3>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="demo-name">Name</label>
												<input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
											</div>
											<div class="field half">
												<label for="demo-email">Email</label>
												<input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
											</div>
											<div class="field">
												<label for="demo-category">Category</label>
												<select name="demo-category" id="demo-category">
													<option value="">-</option>
													<option value="1">Manufacturing</option>
													<option value="1">Shipping</option>
													<option value="1">Administration</option>
													<option value="1">Human Resources</option>
												</select>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-low" name="demo-priority" checked>
												<label for="demo-priority-low">Low</label>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-high" name="demo-priority">
												<label for="demo-priority-high">High</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-copy" name="demo-copy">
												<label for="demo-copy">Email me a copy</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-human" name="demo-human" checked>
												<label for="demo-human">Not a robot</label>
											</div>
											<div class="field">
												<label for="demo-message">Message</label>
												<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>-->

						</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy;Dev-Innovation | Weverton Magalhães</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
	</body>
</html>
