{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Réfick Tattoo</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, user-scalable=no"
		/>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<script
			src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
			type="module"
		></script>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
		<div id="wrapper">
			<div id="home__counter">
				<dotlottie-player
					src="https://lottie.host/7d666b43-87fe-4b0c-895b-43b8caee6a68/Iqc9Eu7j7k.json"
					background="transparent"
					speed="1"
					style="width: 50px; height: 50px"
					loop
					autoplay
				></dotlottie-player>
				<span id="home__counter--loader">Contador</span>
			</div>
			<!-- Header -->
			<header id="header">
				<div class="logo">
					<span class="icon fa-gem"></span>
				</div>
				<div class="content">
					<div class="inner">
						<h1>Réfick TATTOO</h1>
						<p>
							A vida reserva surpresas maravilhosas para todos
							aqueles que cultivam a gratidão!!!
						</p>
					</div>
				</div>
				<nav>
					<ul>
						<li><a href="#work">Work</a></li>
						<li><a href="#contact">Contato</a></li>
					</ul>
				</nav>
			</header>
			<!-- Main -->
			<div id="main">
				<!-- Work -->
				<article id="work">
					<h2 class="major">
						Conheça um pouco<br />do meu trabalho!
					</h2>
					<span class="image main"
						><img src="{% static 'images/jhonatan.jpg' %}" alt=""
					/></span>
					<p>
						Artista há 7 anos, especialista em realismo tattoo, sou
						muito grato pela minha profissão, escolhi o realismo
						pois através do meu trabalho consigo realizar sonhos
						onde as pessoas querem carregar tatuadas em sua pele
						expressões de amor, saudade e muita nostalgia!!!
					</p>
					<h2 class="major">O que é o realismo<br />tattoo?</h2>
					<span class="image main"
						><img
							src="{% static 'images/realismo_tattoo.jpg' %}"
							alt=""
					/></span>
					<p>
						O realismo dentro da tatuagem se baseia no movimento
						realista iniciado na França em 1850. O foco desse estilo
						é a representação verdadeira da imagem, sem tons de
						romantismo ou ajustes para tornar a imagem mais
						dramática. O contraste e sombra são muito valorizados
						nesse estilo.
					</p>
				</article>
				<!-- Contact -->
				<article id="contact">
					<h2 class="major">Contato</h2>
					<ul class="icons">
						<li>
							<a
								href="https://www.instagram.com/jonathan_reficktattoo?igsh=aThrMG5lc3J6N3Yz"
								class="icon brands fa-instagram"
								><span class="label">Instagram</span></a
							>
						</li>
						<li>
							<a
								href="https://api.whatsapp.com/send?phone=5535988353487&text=%E2%9A%9C+Or%C3%A7amento+%E2%9A%9C&fbclid
										=PAAaabPO5FM23mHhRmQa7TT70u-wFU6RrmEGL7nv7vng3AEaEWXKypT2Gip4A"
								class="icon brands fa-whatsapp"
								><span class="label">WhatsApp</span></a
							>
						</li>
					</ul>
				</article>
			</div>

			<!-- Footer -->
			<footer id="footer">
				<p class="copyright">
					&copy;Dev-Innovation | Weverton Magalhães
				</p>
			</footer>
		</div>

		<!-- BG -->
		<div id="bg"></div>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>
		<script src="{% static 'assets/js/index.js' %}"></script>
	</body>
</html>
